// 
// styles.scss
// Added for resume structure 
//

html,
body {
    height: 100%;
    overflow: auto;
}

.display-1--intro-headline {
    font-size: 6rem;
}

.small--60 {
    font-size: 60%;
}

.intro__text-line-height {
    line-height: 5.5rem;
}

.intro__colored-text {
    color: #50FDD9;
}

.container-fluid__intro-bg {
    background: url(/assets/img/nicholasdavis-intro-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
}

.nicholasdavis-profile-image {
    width: 500px;
    height: 793px;
    top: 0;
    right: 0;
    filter: brightness(130%) hue-rotate(145deg) saturate(30%);
}

.navbar--righteous-family-font {
    font-family: $font-family-nav !important;
}

.skills-wrapper {
    width: 3rem;
    height: 3rem;

    img {
        width: 2rem;
        height: auto;
    }
}

.card-body--inner-border {
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    border-style: solid;
    position: absolute;
    box-shadow: 0px 4px 8px 5px rgb(8, 127, 103, .5);
    z-index: 2;
}

.card-image {
    height: 18.75rem;
    object-fit: cover;
    filter: grayscale(100%) blur(.1rem);
}

.card-image-gradient {
    position: absolute;
    background: linear-gradient(to bottom,
            transparent, #0AFFCC);
    height: 100%;
    width: 100%;
    z-index: 1;
}