<header class="bg-white position-relative mb-12 pt-4 pb-4">
  <nav class="navbar navbar--righteous-family-font navbar-expand-lg bg-body-tertiary pt-3 pb-3">
    <div class="container-xl">
      <a class="navbar-brand lh-sm d-flex flex-column" href="#" title="Nicholas Davis">
        <span class="fs-2">Nicholas Davis</span>
        <span class="fs-6">{{user.addressLine1}}, {{user.addressLine2}}</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <span class="d-flex me-5 align-items-center">
          <span class="material-symbols-outlined me-3">
            call
          </span>
          <span>{{user.phone}}</span>
        </span>
        <span class="d-flex me-5 align-items-center">
          <span class="material-symbols-outlined me-3">
            mark_email_unread
          </span>
          <span>{{user.email}}</span>
        </span>
        <span class="d-flex align-items-center">
          <span class="material-symbols-outlined me-3">
            public
          </span>
          <span>{{page.shortSiteURL}}</span>
        </span>
      </div>
    </div>
  </nav>
</header>