{{#each skills.top}}
<div class="col-md-6 {{#if @last}}mb-0{{else}}mb-5{{/if}}">
    <div class="card bg-white border-0 rounded-4">
        <div class="card-body">
            <span class="material-symbols-outlined md-40 mb-7">
                {{icon}}
            </span>
            <h2 class="card-title fw-medium mb-4">
                {{title}}
            </h2>
            {{#each ../skills.professional}}
            {{#if priority}}
            {{#ifEquals category ../category}}
            {{> components/section-skills-list__component}}
            {{/ifEquals}}
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
{{/each}}
{{#each skills.all}}
<div class="col-md-12 {{#if @last}}mb-0{{else}}mb-5{{/if}}">
    <div class="card bg-white border-0 rounded-4">
        <div class="card-body">
            <span class="material-symbols-outlined md-40 mb-7">
                {{icon}}
            </span>
            <h2 class="card-title fw-medium mb-4">
                {{title}}
            </h2>
            {{#each ../skills.professional}}
            {{#ifEquals category ../title}}
            {{> components/section-skills-list__component}}
            {{/ifEquals}}
            {{/each}}
        </div>
    </div>
</div>
{{/each}}