<!--Component -- Skill List-->
<div class="d-flex align-items-center mb-3">
    <div class="d-flex justify-content-center align-items-center skills-wrapper bg-light-subtle rounded-2 p-2 me-3">
        {{#ifEquals imageName 'yard'}}
        <span class="material-symbols-outlined md-24">
            {{imageName}}
        </span>
        {{else}}
        <img class="img-fluid" src="{{webRoot}}/assets/img/skills/{{imageName}}.png" alt="{{name}}"
            style="{{imageStyles}}" />
        {{/ifEquals}}
    </div>
    <div class="me-auto">
        <h5 class="fs-4 fw-bold mb-0 lh-1">{{name}}</h5>
        <h6 class="fs-6 fw-normal text-tertiary mb-0">{{level}}</h6>
    </div>
    <div>
        <h5 class="fs-4 fw-bold mb-0 lh-1">{{time}}</h5>
        <h6 class="fs-6 fw-normal text-tertiary mb-0">years</h6>
    </div>
</div>