<!--Component -- List Link-->
<a href="{{linkUrl}}" class="d-flex align-items-center mb-3" title="{{name}}"
    target="{{#ifEquals imageName 'yard'}}_self{{else}}_blank{{/ifEquals}}">
    <div class="d-flex justify-content-center align-items-center skills-wrapper bg-light-subtle rounded-2 p-2 me-3">
        {{#ifEquals imageName 'yard'}}
        <span class="material-symbols-outlined md-24">
            {{imageName}}
        </span>
        {{else}}
        <img class="img-fluid" src="{{webRoot}}/assets/img/skills/{{imageName}}.png" alt="{{name}}"
            style="{{imageStyles}}" />
        {{/ifEquals}}
    </div>
    <div class="me-auto overflow-auto">
        <h5 class="fs-4 fw-bold mb-0 lh-1 text-truncate">{{name}}</h5>
        <h6 class="fs-6 fw-normal text-tertiary mb-0 text-truncate">{{text}}</h6>
    </div>
    <div>
        <span class="material-symbols-outlined md-20 fw-bolder">
            north_east
        </span>
    </div>
</a>